<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% include 'header.html' %}

    
    <h1>
        THIS IS OUR FIRST PAGE 
    </h1>
     

<h1>This is my list {{students}} </h1>

{% comment %}
 <ul> {{students.0}} </ul>


<ul>
{% for i in students %}
    <li> {{ i }} </li>

{% endfor %} 

</ul> 
{% endcomment %}


{% comment %}
 <table>
    <tr>
       <th>name</th>
       <th>age</th>
    </tr>
     
    {% for student in students %}
    <tr>
     <td> {{student.name}} </td>
     <td> {{student.age}} </td>
    </tr>
   
     {% endfor %}
   
   </table> 

   {% endcomment %}



{% comment %}

{% for num in numbers %}

{% if num|divisibleby:2 %}
   <h1> {{num }}   is even </h1>

{% else %}
<h1>{{ num}}  is odd </h1>

{% endif %}
{% endfor %}


{% endcomment %}



{% if prime < 2 %}
 <h1> This is not primenum </h1>
 {% else %}
        {% for i in range(2,prime) %}
            {% if i|divisibleby:prime %}
            <h1> this is not primenum</h1>
                 break
            {% else %}
            <h2>this is primenub</h2>

            {% endfor %}
 
 
 {% endif %}




{% include 'footer.html '%}

</body>
</html>
