<!DOCTYPE html>
<html lang="en">
<head>



    <style>

table,td,th,tr{
    border: 2px solid salmon;
}
table{
    font-size: 350%;
    color: white;
    background-color: black;
}
#deleteinput{
    display: none;
}

#i1{
    font-size: 250%;
    height: 100%;
    width: 120%;
    cursor: pointer;
    background-color: blue;
   
}
#i2{
    font-size: 250%;
    width: 120%;
    cursor: pointer;
    background-color: red;
   
}
         
</style>



    
</head>



<body>
    
    <table>
        <tr>
            <th>M_id</th>
            <th>M_name</th>
            <th>Mobile_number</th>
            <th>Semester</th>
            <th>Branch</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        

        {% for i in members %}
    <tr>
        <td>{{i.M_id}}</td>
        <td>{{i.M_name}}</td>
        <td>{{i.Mobile_number}}</td>
        <td>{{i.Semester}}</td>
        <td>{{i.Branch}}</td>

        <td>
            <button>
                <details>
                    <summary id="i1">EDIT</summary>

                    <form action="/updatemember" method="get">

                        <h1>M_id</h1> <input type="number" name="uM_id" value="{{i.M_id}}" required >
                        <br><br>
                        
                        <h1>M_name</h1> <input type="text" name="uM_name" value="{{i.M_name}}" required>
                        <br><br>
                        
                        <h1>Mobile_number</h1> <input type="number" name="uMobile_number" value="{{i.Mobile_number}}" required >
                        <br><br>
                        
                        <h1>Semester</h1> <input type="number" name="uSemester" value="{{i.Semester}}" required >
                        <br><br>
                        
                        <h1>Branch</h1> <input type="text" name="uBranch" value="{{i.Branch}}" required >
                        <br><br>
                        
                        <input type="submit" value="UPDATE MEMBER">
                        <br><br>
                        
                     </form>

                </details>

            </button>
        </td>


        <td>
            <button>
                
                    <form action="/deletemember" method="get">
                        <input id="deleteinput" type="number" name="uM_id" value="{{ i.M_id }}">
                        <input id="i2" type="submit" value="Delete">
                    </form>   

            </button>
    </td>



    </tr>

        {% endfor %}




    </table>
    









</body>
</html>